<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Equipments</key>
	<array>
		<string>洗衣机</string>
		<string>空调</string>
		<string>暖风机</string>
		<string>汽车每公里排放量</string>
	</array>
</dict>
</plist>
