<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<array>
		<string>7月</string>
		<string>8月</string>
		<string>9月</string>
		<string>10月</string>
		<string>11月</string>
		<string>12月</string>
	</array>
	<key>Data</key>
	<array>
		<string>120</string>
		<string>520</string>
		<string>310</string>
		<string>580</string>
		<string>280</string>
		<string>300</string>
	</array>
</dict>
</plist>
