<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Equipments</key>
	<array>
		<string>洗衣机能源等级</string>
		<string>空调能源等级</string>
		<string>灯泡种类</string>
		<string>厕所水箱升数</string>
		<string>私家车每公里耗油升数</string>
		<string>上月用水量</string>
		<string>上月用电量</string>
		<string>上月私家车里程数</string>
		<string>上月回收废纸量</string>
		<string>上月回收废旧塑料量</string>
		<string>上月回收废旧金属量</string>
		<string>上月使用一次性物品量</string>
	</array>
</dict>
</plist>
