<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tip</key>
	<array>
		<string>请输入本月用水量</string>
		<string>请输入本月用电量</string>
		<string>请输入本月私家车里程数</string>
		<string>请输入回收废纸量</string>
		<string>请输入回收废旧塑料量</string>
		<string>请输入回收废金属量</string>
	</array>
	<key>Thing</key>
	<array>
		<string>用水量</string>
		<string>用电量</string>
		<string>私家车里程数</string>
		<string>回收废纸</string>
		<string>回收废旧塑料</string>
		<string>回收废金属</string>
	</array>
	<key>Amount</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
